header {
  nav {
    background-color: $secondary-color;
    border-bottom: 1px solid $primary-color;
    img {
      width: 50px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      li {
        a {
          color: $color-dark;
          font-family: $main-font;
          text-decoration: none;
          font-size: smaller;

          &:hover {
            text-decoration: underline;
          }
        }
        &:last-child {
          margin-right: 0.5rem;
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;

          img {
            width: 1.5rem;
          }
        }
      }
    }
  }
}
