
/* section carte + villes */

h2, h3 {
    text-align: center;
}
  
#profil-activites, #carte-profils {
    margin: 0 10%;

    @include respondTo(xs) {

        margin: 0;
    }

    h2 {
        color: $color-dark;
        margin-bottom: 1em;
    }
}


h3 {
    color: $primary-color;
}

.boutons-profils {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @include respondTo(xxs) {
        display: flex;
        flex-direction: column;
        color: red;
    }    
}
  
.bouton-profil {
    padding: 1rem;
    background-color: $color-light;
    border: $primary-color 1px solid;
    border-radius: 5px;

    &:hover{
        background-color: $secondary-color;
    }

}



.activite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &:nth-child(odd) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "text image";
    }
    
    &:nth-child(odd) .text-container {
        grid-area: text;
    }
    
    &:nth-child(odd) img {
        grid-area: image;
    }

    img {
        width: 100%;
        height: auto;
    }


    @include respondTo(xs) {
        display: block;

        margin-bottom: 10%;
    }
}



.text-container {

    p {
        padding: 2% 10%;
        height: 75%;
    }
}



